@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

*{
    background-color: #067BC2;
    color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
}

h1, p{
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 30px;
}

div{
    display: flex;
}

button {
    margin: auto;
    padding: 15px;
    border: none;
    border-radius: 90px;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#current-events{
    background-color: #03045E;
}

#skills-info{
    background-color: #A71D31;
}

#math{
    background-color: #D16363;
}
